/*
font-family: 'Raleway', sans-serif;
font-family: 'Great Vibes', cursive;
 */

 $colors: (
   _gold: #b99470,
   _black: black,
 );

h1 {
  font-weight: 700;
  line-height: 1.3;
}

.header_mid_inner {
  background-color:black;
}

.logo {
  &>div {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    height: 70px;
    width: 200px;
    top: 0;
    color: white;

    div {
      position: relative;
    }
  }
}

.navigation {
  .menu-item {
    a {
      color: white;
      font-size: 12px;
    }
  }
  .current-menu-item.current_page_item.menu-item-home {
    a  {
      color: white;
      &:hover {
        color: #b99470;
      }
    }
  }
}

.navigation .menu-item-mega-container > ul > li > a .nav_title,
.navigation > li > a {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.header_mid .search_wrap .search_bar_wrap .search_button button:hover:before,
.header_mid a:hover,
.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button:hover,
.cmsmasters_dynamic_cart:hover .cmsmasters_dynamic_cart_button {
  color:#00675f;
}

.middle_content.entry {
  height: 750px;
  padding: 0;

  .call-to-action-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;


    .call-to-action {
      font-size: 24px;
      line-height: 25px;
      font-weight: 500;
      color: white;
      background-color: #c19b76;
      border-color: #c19b76;
      box-sizing: border-box;
      cursor: pointer;
      padding: 24px 75px;

      &:hover {
        background-color: #ac753f;
      }
    }

    .two {
      margin-left: 10px;
    }
  }
}

.middle-home {
  .lifetyle-slider {
    background-color: hsla(0, -6%, 95%, 1);
    width:  100%;

    @media (min-width: 320) {
      padding:  0 170px;
    }
    @media (min-width: 1023px) {
      padding:  0 170px;
    }
  }
  .tour {
    font-family: 'Great Vibes', cursive;
    text-transform: capitalize;
    font-weight: 700;
    h1 {
      font-size: 50px !important;
    }
  }
  @media (min-width: 320px) and (max-width: 1023px) {
    padding-top: 20px !important;
  }
  @media (min-width: 1024px) {
    padding-top: 70px !important;
  }
}

#middle {
  padding-top: 80px;

  @media (min-width: 320px) {
    padding-top: 0;

    .headline_outer {
      height: 300px;
      background-position: center;
      background-size: auto;
      .headline_inner {
        height: 100%;
        .headline_text {
          position: relative;
          margin-top: 100px;
        }
        .cmsmasters_breadcrumbs {
          position: absolute;
          bottom: 10px;
          width: inherit;
          left:0;
        }
      }
    }
  }
}

.middle_inner {
  height: 600px;
  background-size: cover;
  background-repeat-y: no-repeat;
  background-position-y: 0px;
  background-repeat-x: no-repeat;
  background-position-x: center;
  background-color: white;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}

.header_content {
  display: flex;
  justify-content: center;
}

.cmsmasters_row_inner {
  h2, h1 {
    text-align: center;
    text-transform: capitalize;

    @media (min-width: 320px) {
      font-size: 30px;
    }
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
  #reimaging-exclusivity {
    a {
      font-family:  'Great Vibes', cursive;
      text-transform: capitalize;
      color: #b99470;
      font-size:  60px;
    }
  }
}

.lifetyle-slider-wrapper {
  padding-top: 0;
}

.home_cards {
    height: 488px;

    .cmsmasters_column_inner {
        height: 100%;

        .cmsmasters_featured_block {
            padding: 0;
            height: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;

            .featured_block_inner {
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                .featured_block_text {
                    text-align: center;
                    font-size: 28px;
                    color: white;
                }
            }
        }
    }
}

.cmsmasters_featured_block {
  background-color: white;

  .featured_block_inner {
    text-align: center;
  }
}

.icons {
    p {
        i {
            margin-right: 10px;
        }
    }
}

.headline_location {
  @media (min-width: 320px) {
    height: 380px !important;
  }
}

.headline_outer {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#about-us-banner {
  background-image: url(../img/about-us-banner.jpg);
}

#architecture {
  background-image: url(../img/architect_banner.png);
}

#apartment {
  background: url('../img/bedroom.png')
}

.one_third {
    text-align: center;
    padding: 50px 0;
}

#cmsmasters_row_eadd33da89 {
    background-color: #f9f9f9;
    .cmsmasters_row_outer_parent {
        padding-top: 130px;
        padding-bottom: 75px;
    }
}

#cmsmasters_heading_c16df6efd0 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    .cmsmasters_heading {
        text-align: center;
        font-family: 'Herr Von Muellerhoff';
        font-size: 140px;
        line-height: 160px;
        font-style: normal;
        color: rgba(11, 12, 15, 0.2);
        a {
            font-family: 'Herr Von Muellerhoff';
            font-size: 140px;
            line-height: 160px;
            font-style: normal;
            color: rgba(11, 12, 15, 0.2);
        }
    }
}

#cmsmasters_heading_31ac8fc691 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 110px;
    .cmsmasters_heading {
        text-align: center;
        font-size: 60px;
        line-height: 60px;
        a {
            font-size: 60px;
            line-height: 60px;
        }
    }
}

.cards-parent {
    display: flex;
}

.heading_align_center {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmsmasters_1323 {
    margin-bottom: 50px;
}

.cmsmasters_row_margin {
    display: flex;
}

.about-us {
    height: 750px;
}

.lifestyle {
    .one {
        margin-bottom: 50px;
    }
    .two {
        margin-bottom: 50px;
    }
    .cmsmasters_heading {
        text-align: center;
    }
}

.location {
    margin-top: 100px;
    .one {
        margin-bottom: 50px;
        .cmsmasters_heading {
            text-align: center;
        }
    }
    .two {
        margin-bottom: 50px;
    }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  margin-top: 130px;

  h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .close:hover {
    color: #06D85F;
  }

  .popcontent {
    max-height: 30%;
    overflow: auto;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.tnp-field {
  input, label {
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  }

  label {
    font-weight: 400 !important;
  }

  .tnp-submit {
    padding: 20px 30px;
    font-size: 18px;
    color: white;
  }
}

#home-lifetyle-heading,
#home-rooms-heading {
  p {
    width:  80%;
    text-align:  center;
    margin:  0 auto;
  }
  div {
    width: 70%;
    margin: 0 auto;
  }
}

#home-lifetyle-heading,
#home-rooms-heading,
.featured_block_text {
  p {
    text-align: center;
    color: #6a6a6a;
    font-size: 16px;
    line-height: 28px;
  }
}

.featured_block_text {
  & > div {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;

    h4 {
      font-size: 28px;
      line-height: 38px;
      color: #c19b76;
      text-align: center;

      a {
        font-size: 28px;
        line-height: 38px;
        color: #c19b76;
      }
    }
  }
  h3 {
    font-style: normal;
  }
}

.featured_block_inner {
  height:100%;
  padding:270px 0;
}

.rooms {
  .featured_block_inner {
    padding: 222px 0;
    background-color: #00000078;
    &:hover {
      background-color: #00000091;
    }
  }
  .cmsmasters_heading {
    padding-top: 0;
  }
}

.appartment {
  padding: 50px 0;
}

.header_fullwidth .header_mid {
  .logo_wrap .logo img {
    height: 50px;
    margin: auto 40px;
  }
}

h2.cmsmasters_heading {
  a {
    font-size: 25px;
  }
}

.penthouse {
  padding: 0;
  padding-top: 50px;
  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .entry-title {
    text-align: left;
  }
}

.cmsmasters_project_grid {
  #location-map {
    border: 0;
    height: 500px;
  }
  .cmsmasters_img_rollover_wrap {
    margin: 0;
  }
  .location_img_wrap {
    display:  flex;
    justify-content:  center;
    padding: 0 !important;
    height: 100%;

    .location-img {
      position: absolute;
      width: auto;
      height: auto;
      min-width: 0;
      left: 0;
    }
  }
}

.cmsmasters_heading_wrap {
  a {
    .cmsmasters_heading {
      display: block;
      margin: 0;
      text-align: center;
      padding: 50px 0;
      padding-bottom: 0;
      font-size: 22px;
      color: white;
      padding-top: 0;
    }
  }
}

.lifestyle-container {
  background-attachment: scroll;

  & > div {
    text-align:  center;
    padding-top: 20px;
  }
}

.lifetyle-slider {
  .owl-item {
    height: 500px;
  }
  #slider-note {
    text-align:  center;
    font-style:  italic;
    font-size:  14px;
  }
}

.sumome-contactform {
  position: absolute;
  .sumome-contactform-content {
    top: 100px !important;
  }
}

#wp-content {
  .sumome-vex-close {
    display: block;
  }
}

div.wpforms-container-full .wpforms-form select.wpforms-field-medium {
  width: 100% !important;
  max-width: 100% !important;
}

.popmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.popmodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 50rem;
  border-radius: 0.5rem;
}

.popclose-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  &:hover {
    background-color: darkgray;
  }
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;
}

.close-locationMapModal {
  .fa-times {
    margin-left: 10px;
  }
}

.cmsmasters_google_map {
  height: 410px;
}

#closeXButton {
  margin-right: 10px !important;
}

.close-requestResidenceModal {
  margin-left: 10px;
}

.cmsmasters_12-flex {
  justify-content: center;
  align-items: center;
  .btn {
    width: 200px;
  }
}

div[class^='close-'] {
  margin-top: 42px;
  margin-left: 20px;
  cursor: pointer;
}

.cmsmasters_slider_project {
  .cmsmasters_slider_project_header {
    font-size: 25px;
    .cmsmasters_slider_project_title a {
      position: relative;
    }
  }
}

.icons {
  p {
    font-size: 12px;
    padding-bottom: 0;
  }
}

.footer-menu {
  .menu-item {
    position: relative;
  }
}

.cmsmasters_row_inner {
  .lifestyle-container {
    .cmsmasters_row_inner {
      .cmsmasters_heading {
        text-transform: lowercase;
        font-family: 'Great Vibes', cursive;
        font-size: 80px;
      }
    }
  }
}

#home-rooms-heading {
  h2 {
    text-transform: capitalize;
  }
}

.section-2 {
  justify-content: center;

  .entry-content {
    h4 {
      font-family: 'Great Vibes', cursive;
    }
  }
  .section-2-two {
    position: relative;

    .section-2-pargraph {
      position: relative;

      p {
        font-family: 'Raleway', sans-serif;
      }
    }

    figure {
      margin-bottom: 20px;
    }

    @media (min-width: 375px) {
      width: 100%;
    }
  }
  .section-2-one-about {
    h1 {
      position: relative;
    }
    .entry-content {
      div:first-child {
        position: relative;
        width: 500px;
        margin-right: 20px;
        text-align: center;

        #sidra-logo {
          @media (min-width: 320px) and (max-width: 575px) {
            width: 60%;
          }
          @media (min-width: 576px) and (max-width: 767px) {
            width: 40%;
          }
          @media (min-width: 768px) {
            margin-top: 20px;
            width: 175px;
          }
        }

        img {
          width: 250px;

          @media (min-width: 320px) {
            width: 30%;
          }
          @media (min-width: 576px) {
            width: 20%;
          }
          @media (min-width: 768px) {
            width: 125px;
          }
        }

        @media (min-width: 320px) {
          width: 100%;
        }
      }
      .sidra {
        @media (min-width: 768px) {
          width: 1400px !important;
        }
      }

      p {
        margin-top: 20px;
      }

      @media (min-width: 320px) {
        flex-direction: column;
      }
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }
  .section-enquiries {
    & > div {
      width: 50%;

      &:nth-child(1) {
        padding: 0 20px 0 0;

        article {
          width: 100%;

          .entry-header {
            margin-top: 20px;
          }

          ul li {
            font-size: 16px;

            i {
              margin-right: 10px;
            }
          }
        }
      }

      &:nth-child(2) {
        article {
          width: 100%;
        }
      }

      article h3 {
        margin-top: 30px;
        font-family: 'Great Vibes', cursive;
        font-size: 40px;
        text-transform: capitalize;
        font-weight: 700;

        @media (min-width: 320px) and (max-width: 992px) {
          text-align: center;
        }
      }
    }

    @media (min-width: 320px) and (max-width: 992px){
      flex-direction: column;

      & > div {
        width: 100%;
        padding-right: 0 !important;
      }
      & > div:nth-child(2) {
        margin-top: 50px;
      }
    }
  }
  .tour {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one-bedroom {
    & > div {
      width: 50%;

      @media (min-width: 320px) {
        width: 100%;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        padding: 0 90px;
      }
      @media (min-width: 768px) {
        padding: 0 20px;
      }

      .column-1 {
        .entry-header {
          h2 {
            position: relative;
            font-size: 1.5rem;
            margin-bottom: 0;
          }
          h4 {
            font-size: 1.2rem;
            font-family: 'Raleway', sans-serif;
          }
        }
        .entry-content {
          p {
            position: relative;
          }
        }
        .project_img_wrap {
          height: 300px;
          display: flex;
          border: 1px solid teal;
          justify-content: center;

          &:hover {
            height: auto;
          }

          figure {
              background-image: none !important;
              overflow:  hidden;

              img {
              max-width: 350px;
              margin: 0 auto;
              width: 100%;
            }
          }

        }
        .entry-content {
          @media (min-width: 320px) {
            margin-bottom: 30px;
          }
        }
        .extra-height {
          height: 430px;
        }
        .extra-height-2 {
          height: 600px;
        }
        .extra-height-3 {
          height: 490px;
        }
        #b6 {
          height: 440px;
        }
        #b9 {
          height: 500px;
        }
        #c4 {
          height: 690px;
        }
        #c5 {
          height: 580px;
        }
        #c6 {
          height: 530px;
        }
        #d1 {
          height: 770px;
        }
        #d2 {
          height: 480px;
        }
        #d3 {
          height: 290px;
        }
        #d4 {
          height: 510px;
        }
      }
    }
  }
  .bedroom-description {
    p {
      font-size: 16px;
    }
  }
  .one-bedroom {
    position: relative;
    flex-direction:column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.section-2-location {
  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;

    .section-2-one {
      width: 100%;
      padding-right: 30px;
    }
  }
}

.section-3 {
  img {
    position: relative;
  }
}

section[class^="section"] {
  & > div {
    width: 1200px;
    article {
      width: inherit;
      h1 {
        font-family: 'Great Vibes', cursive;
        font-size: 40px;
        text-transform: capitalize;
      }
      p {
        font-size: 16px;
        color: #6a6a6a;
      }
    }
  }
}

.section-1 {
  position: relative;
  justify-content: center;

  div[class^="section-1"] {
    padding: 40px 20px;
    text-align: center;
    width: 100%;

    img {
      width: 150px;
    }
  }

  .section-1-two-about {
    position: relative;
    padding: 0 240px !important;
    height: 100px;

    h1 {
      font-size: 40px;
      text-transform: capitalize;
      color: map-get($colors, _black);
      font-weight: 400;
    }

    @media (min-width: 320px) and (max-width: 424px) {
      height: 250px;
      padding: 0 30px !important;
    }
    @media (min-width: 425px) and (max-width: 575px) {
      height: 180px;
      padding: 0 30px !important;
    }
    @media (min-width: 576px) and (max-width: 991px) {
      height: 200px;
      padding: 0 150px !important;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      height: 150px;
      padding: 0 100px !important
    }
  }
  .section-1-two {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 576px) {
      height: 140px;
    }

    h1 {
      font-size: 40px;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
  .section-apartment {
    @media (min-width: 320px) and (max-width: 425px) {
      height: 300px;
    }
  }
  .section-bedroom {
    @media (min-width: 320px) and (max-width: 425px) {
      height: 200px;
    }
  }
}

.section-flex {
  display: flex;
}

.section-flex--column {
  flex-direction: column;
}

.section-flex--center {
  display: flex;
  justify-content: center;
}

.current-menu-item {
  position: relative;
  a {
    position: relative;
    color: #b99470;
  }
}

.section-4 {
  .owl-wrapper-outer.autoHeight {
    height: 360px !important;
  }
  .owl-controls {
    position: relative;
    margin-bottom: 50px;
  }
}

.section-location {
  img {
    width: 250px !important;
  }
}

.modal-content {
  .cmsmasters_featured_block {
    .pargraph-1 {
      padding: 0 100px;
      p {
        font-size: 16px;
        text-align: center;
      }
    }
  }
  .btn {
    &:hover {
      background-color: #00675f !important;
      color: white;
    }

    a {
      font-family: 'Raleway', sans-serif !important;
      color: black !important;

      &:hover {
        position: relative;
        color: white !important;
      }
    }
  }
}

#lifetyle {
  background: url(../img/lifestyle.jpg);
}

#inquiries {
  background: url(../img/enquiries.png);
}

.cmsmasters_header_button_wrap {
  position: relative;
  z-index: 1;
}

.headline_outer .headline_inner .headline_text .entry-title {
  font-size: 40px;

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 25px;
  }
}

.tnp-field-button {
  .tnp-submit {
    padding: 15px 20px !important;
    color: white !important;
  }
}

.post {
  .section-flex {
    @media (min-width: 320px) and (max-width: 575px) {
      flex-direction: column;
    }
  }
  .entry-title {
    font-family: 'Raleway', sans-serif;
  }
  .post-thumbnail {
    width: 50%;
    margin-right: 20px;
  }
  .posted-on {
    time {
      font-family: 'Raleway', sans-serif;
    }
    .updated {
      color: #999999;
      font-size: 12px;
      line-height: 26px;
      margin: 0 10px;
    }
  }
  .author a,
  .cat-links a {
    color: #999999;
    font-size: 12px;
    line-height: 26px;
    text-transform: capitalize;
  }
}

.cmsmasters_slider_project_inner {
  background-color: white !important;
}

.brochure {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  z-index: 1;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
  box-shadow: 0px 1px darkgrey;
  font-size: 20px;
  color: black;

  @media (min-width: 320px) and (max-width: 767px) {
    top: 190px;
  }
}

@media (min-width: 320px) {
  .middle_inner {
      height: 200px;
  }
  .cmsmasters_row_margin {
    flex-direction: column;
  }
  .home_cards {
    padding: 0px 0;
    height: 250px;
  }
  .rooms {
    .featured_block_inner {
      padding: 140px 0;
    }
  }
  .popmodal-content {
    width: 20rem;
    margin-top: 30px;
  }
  .lifetyle-slider {
    #slider-note {
      font-size: 10px;
    }
  }
  .window {
    display: flex;
    justify-content: center;

    img {
      position: relative;
      height: 120px;
    }
  }
  .bed-room {
    flex-direction: column;
    article {
      width: 100%;
      .entry-title {
        a {
          font-size: 22px !important;
        }
      }
      .cmsmasters_tab_inner {
        h4 {
          font-size: 20px;
        }
      }
    }
  }
  .logo_wrap {
    width: 100%;
    display: block;
    margin: 0 0 15px;
    text-align: center;
    height: 40px;
    div {
      width: 100%;
    }
  }
  .cmsmasters_row_inner {
    #reimaging-exclusivity {
      a {
        font-size: 40px;
      }
    }
  }
  #header {
    .header_mid {
      .header_mid_inner .cmsmasters_header_button_wrap .cmsmasters_header_button {
        line-height:44px;
      }
      .mid_nav_wrap nav {
        display: none;
      }
    }
  }
  .cmsmasters_row_inner {
    .lifestyle-container {
      margin: 0;
      .cmsmasters_row_inner {
        width: 100%;
        padding: 0;
        padding-top: 50px;

        .cmsmasters_heading {
          font-size: 50px;
        }
      }
    }
  }
  .cmsmasters_heading_wrap.cmsmasters_row_inner {}
  #home-lifetyle-heading,
  #home-rooms-heading {
    div {
      width: 100%;
    }
  }
  .owl-wrapper-outer.autoHeight {
    height: 760px !important;
  }
  .tnp-subscription label {
    font-size: 13px !important;
  }
  .section-1 {
    .section-1-one {
      img {
        width: 80px;
      }
    }
  }
  .section-2,
  .section-3 {
    padding: 0 20px;
  }
  section[class^="section"] {
    & > div {
      width: 280px;
    }
    article h1 {
      text-align: center;
    }
  }
  .section-4 {
    .owl-wrapper-outer.autoHeight {
      height: 290px !important;
    }
    .cmsmasters_posts_slider {
      width: 300px;
      margin-left: -20px;
      height: 480px;
      position: relative;
      overflow: hidden;
    }
  }
}

@media (min-width: 375px) {
  .rooms {
    .featured_block_inner {
      padding: 170px 0;
    }
  }
  .middle_inner {
    height: 220px;
    background-size:contain;
  }
  .cmsmasters_header_button_wrap {
    height: 100%;
  }
  .section-4 {
    .owl-wrapper-outer.autoHeight {
      height: 290px !important;
    }
    .cmsmasters_posts_slider {
      width: 335px;
      height: 420px;
      margin-left: -10px;
    }
  }
  section[class^="section"] {
    & > div {
      width: 320px;
    }
  }
}

@media (min-width: 425px) {
  .rooms {
    .featured_block_inner {
      padding: 190px 0;
    }
  }
  section[class^="section"] {
    & > div {
      width: 370px;
    }
  }
  .section-4 {
    .cmsmasters_posts_slider {
      width: 375px;
    }
  }
}

@media (min-width: 576px) {
    .middle_inner {
        height: 300px;
    }
    .lifetyle-slider {
      #slider-note {
        font-size: 14px;
      }
    }
    .cmsmasters_heading_wrap {
      a {
        .cmsmasters_heading {
          font-size: 20px;
        }
      }
    }
    .bed-room {
      article {
        .entry-title {
          a {
            font-size: 30px !important;
          }
        }
        .cmsmasters_tab_inner {
          h4 {
            font-size: 25px;
          }
        }
      }
    }
    .owl-wrapper-outer.autoHeight {
        height: 830px !important;
    }
    section[class^="section"] {
      & > div {
        width: 100%;
      }
    }
    .section-4 {
      .cmsmasters_posts_slider {
        width: 520px;
      }
      .owl-wrapper-outer.autoHeight {
        height: 250px !important;
      }
    }
}

@media (min-width: 768px) {
    .middle_inner {
        height: 400px;
    }
    #cmsmasters_heading_c16df6efd0 {
      .cmsmasters_heading,
      .cmsmasters_heading a {
        font-size: 100px;
        line-height: 120px;
      }
    }
    .bed-room {
      flex-direction: row;
      article {
        width: 620px;
      }
    }
    #middle {
      padding-top: 0;
      .headline_outer .headline_inner {
        display: flex;
        .cmsmasters_breadcrumbs {
          text-align: center;
        }
      }
      .headline_outer .headline_inner .headline_text {
        width: inherit;
        height: 60px;
        text-align: center;
      }
    }
    .owl-wrapper-outer.autoHeight {
      height: 940px !important;
    }
    .cmsmasters_row_inner {
      #reimaging-exclusivity {
        a {
          font-size: 50px;
        }
      }
      .lifestyle-container {
        .cmsmasters_row_inner {
          .cmsmasters_heading {
            font-size: 60px;
          }
        }
      }
    }
    .tnp-subscription {
      margin: 0;
      max-width: 100% !important;
    }
    .section-1 .section-1-one img {
      width: 120px;
    }
    .section-2 article h1 {
      text-align: left;
    }
    #header {
      .header_mid {
        height: 70px;
        .logo_wrap {
          height: inherit;
          div {
            left: 0;
          }
        }
        .resp_mid_nav_wrap {
          position: absolute;
          top: 0;
          right: 0;
          margin-right: 270px;
          height: 70px;
        }
      }
    }
    section[class^="section"] {
      & > div {
        width: 700px;
      }
      article h1 {
        text-align: left;
      }
    }
    .section-4 {
      .cmsmasters_posts_slider {
        width: 100%;
        height: 420px;
      }
      .owl-wrapper-outer.autoHeight {
        height: 320px !important;
      }
    }
}

@media (min-width: 992px) {
  .middle_inner {
    height: 500px;
    background-size:contain;
  }
  .cmsmasters_131313,
  .cmsmasters_14141414 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .home_cards {
    height: 488px;
  }
  .header_content {
    .cmsmasters_row_margin {
      width: 70%;
    }
  }
  .cmsmasters_row_margin {
    flex-direction: row;
  }
  .cmsmasters_11 {
    flex-direction: column;
  }
  .logo_wrap {
    height: 70px;
    margin-bottom: 0;
  }
  .header_fullwidth .header_mid {
    .logo_wrap .logo img {
      height: 50px;
      margin: auto 40px;
      display: block;
    }
  }
  .logo_wrap {
    div {
      left: 0;
    }
  }
  .resp_mid_nav_wrap {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 70px !important;
    margin-right: 270px !important;
  }
  .cmsmasters_header_button_wrap {
    height: 70px !important;
  }
  .owl-wrapper-outer.autoHeight {
    height: 500px !important;
  }
  section[class^="section"] {
    & > div {
      width: 920px;
    }
  }
}

@media (min-width: 1024px) {
    .middle_inner {
      height: 500px;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    .middle_inner.location {
        height: 850px;
    }
    #middle_inner_lifestyle {
      height: 1500px;
    }
    ul.navigation {
      & > li.menu-item.current-menu-ancestor:hover > a,
      & > li.menu-item.current-menu-item > a:hover,
      & > li > a:hover,
      & > li > a:hover .nav_subtitle,
      & > li:hover > a,
      & > li:hover > a .nav_subtitle {
        color:#b99470;
      }
      .menu-item a {
        padding: 0 8px;
      }
    }
    .mid_nav_wrap {
      position: absolute !important;
      right: 270px;
      top: 0;
    }
    #middle {
      padding-top: 70px;
    }
    .rooms .featured_block_inner {
      padding: 100px 0;
    }
    .owl-wrapper-outer.autoHeight {
      height: 520px !important;
    }
    #header .header_mid .mid_nav_wrap nav {
      display: block;
    }
}

@media (min-width: 1200px) {
  #middle {
    padding-top: 70px;
  }
  .rooms {
    .featured_block_inner {
      padding: 130px 0;
    }
  }
  .navigation li > a {
    padding: 20px 20px;
  }
  .logo {
    img {
      display: block !important;
    }
  }
  .mid_nav_wrap {
    width: 100%;
    nav {
      float:right;
    }
  }
}

@media (min-width: 1440px) {
  .cmsmasters_row_inner {
    width: 1200px;
  }
  .tnp-subscription label {
    font-size: 12px !important;
  }
}
